@font-face {
    font-family: 'Linux Libertine';
    src: url(LinLibertine_R.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url(LinLibertine_RB.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url(LinLibertine_RI.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url(LinBiolinum_R.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linux Biolinum';
    src: url(LinBiolinum_RB.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

